<div class="container p-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="car-bady">
            <form action="/admins/agregar/artista" method="post">
              <div class="form-group">
                <label for="">Agregar album</label>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="nombre" id="" placeholder="nombre">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="genero" id="" placeholder="genero">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="albumes" id="" placeholder="albumes">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>