<header class="main-header">
  <div class="container container--flex">
    <div class="logo-container column column--50">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="http://localhost:4000">Muscic DF</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:4000">Início <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/artista/artista">Artistas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/album/add" tabindex="-1" aria-disabled="true">Albunes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/peticiones/peticiones">Peticiones</a>
            </li>
          </ul>
          <a class="btn btn-warning" href="/admins/pass">admins</a>
        </div>
      </nav>
    </div>
  </div>

  </nav>



  <section class="group group--color">
    <div class="container">
      <p class="main__txt">
      <form action="/admins/pass/validar" class="form-inline" method="POST">
        <div class="form-group mb-2">
          <label for="staticEmail2" class="sr-only">nick</label>
          <input type="text"  class="form-control"  placeholder="nickname" name="name">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Password</label>
          <input type="password" class="form-control"  placeholder="Password" name="password">
          <input type="hidden" {{#each usua}} value="{{usuario}}" {{/each}} name="usuario">
          <input type="hidden" {{#each usua}} value="{{contra}}" {{/each}} name="contra">
        </div>
        <button type="submit" class="btn btn-primary mb-2">ingresar</button>
      </form>


      </p>
    </div>
  </section>