<header class="main-header">
        <div class="container container--flex">
            <div class="logo-container column column--50">
               
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Muscic DF</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Início <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Artistas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/album/" tabindex="-1" aria-disabled="true">Albunes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Peticiones</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
            </div> 
        </div>
    
    </nav>
            

    <section class="banner">
        <img src="img/banner.jpg.jpg" alt="" class="banner__img">
        <div class="banner__content">El mejor lugar para descargar tu musica </div>
    </section>

    <main class="main">
        <section class="group group--color">
            <div class="container">
                <h2 class="main__title">Bienvenido a su MusicDf</h2>
                <p class="main__txt">una pagina donde podras descargar las discografias de tus artistas favoritos</p>
            </div>
        </section>
        <section class="group main__about__description">
            <div class="container container--flex">
                <div class="column column--50">
                    <img src="img/food1.jpg.jpg" alt="">
                </div>
                </div>
            </div>
        </section>

        <section class="ultimos_albumnes">
            <h2 class="group__title"> ultimos subidos </h2>
            <div class="container container--flex">
                <div class="column column--50-25">
                      <br>
                </div>
                <div class="column column--50-25">
                     <br>
                </div>
                <div class="column column--50-25">
                    <br>
                </div>
                <div class="column column--50-25">
                    
                </div>
            </div>
        </section>




    </main>
    <footer class="main-footer">
            <div class="container container--flex">
                <div class="column column--33">
                    <h2 class="column__title">¿Por qué usarnos?</h2>
                    <p class="column__txt"> nosotros tenemos la musica en alta definicion y se pueden descargar de forma muy facil</p>
                </div>
                <div class="column column--33">
                    <h2 class="column__title">Contáctanos</h2>
                    <p class="column__txt">Telefono: 3194672644</p>
                    <p class="column__txt">diegosaijan@gmail.com</p>
                </div>
                <div class="column column--33">
                    <h2 class="column__title">Síguenos en nuestras redes</h2>
                    <p class="column__txt"><a href="" class="icon-facebook">Síguenos en facebook</a></p>
                    <p class="column__txt"><a href="" class="icon-twitter">Síguenos en twitter</a></p>
                    <p class="column__txt"><a href="" class="icon-youtube">Síguenos en youtube</a></p>
                </div>
                <p class="copy">© 2020 MusicDf | Todos los derechos reservados</p>
            </div>
    </footer>
    <script src="js/menu.js"></script>
</body>
</html> 